<mat-card>
  <mat-card-content>
    <mat-list>
      <h3 matSubHeader>Albums</h3>
      <mat-list-item *ngFor="let album of albums; let i = index">
        <mat-icon matListIcon>album</mat-icon>
        <h4 matLine>{{album}}</h4>
        <h4 matLine>#{{i + 1}}</h4>
      </mat-list-item>

      <mat-divider></mat-divider>

      <h3 matSubHeader>Members</h3>
      <mat-list-item *ngFor="let member of members ">
        <mat-icon matListIcon>person</mat-icon>
        <h4 matLine>{{member.name}}</h4>
        <h4 matLine>{{member.current ? '' : 'Former'}} {{member.instrument}}</h4>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
