<mat-card>
  <mat-card-title>
    Select
  </mat-card-title>
  <mat-card-content>
    <section>
      <p>Select the fields that you need:</p>
      <mat-radio-group [(ngModel)]="field">
        <mat-radio-button value='button'>Button</mat-radio-button>
        <mat-radio-button value='checkbox'>Checkbox</mat-radio-button>
        <mat-radio-button value='progress'>Progress Bar</mat-radio-button>
      </mat-radio-group>
    </section>

    <br><br>

    <section [ngSwitch]="field">
      <button mat-raised-button *ngSwitchCase= "'button'" color="warn">Button</button>
      <mat-checkbox *ngSwitchCase= "'checkbox'" >Checkbox</mat-checkbox>
      <mat-progress-bar *ngSwitchCase="'progress'" color="warn" mode="indeterminate"></mat-progress-bar>
    </section>
  </mat-card-content>
</mat-card>
