<mat-card>
  <mat-card-header>
    <mat-card-title>Motörhead</mat-card-title>
    <mat-card-subtitle>England</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image alt="Motörhead"
    src="https://rollingstone.uol.com.br/media/_versions/legacy/2015/img-1035770-galeria-discografia-motorhead-abre_widelg.jpg">
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent">Like</button>
    <button mat-button color="primary">Share</button>
  </mat-card-actions>
</mat-card>
