<div fxFill fxLayout="column" fxLayoutAlign="center start">
  <button mat-button color="primary" (click)="createObservable()">Create Observable</button>
  <button mat-button color="primary" (click)="fromObservable()">From Observable</button>
  <button mat-button color="primary" (click)="ofObservable()">Of Observable</button>
  <button mat-button color="primary" (click)="intervalObservable()">Interval Observable</button>
  <button mat-button color="primary" (click)="timerObservable()">Timer Observable</button>
  <button mat-button color="primary" (click)="fromEventObservable()">From Event Observable</button>
  <button mat-button color="primary" (click)="unsubscribeObservables()">Unsubscribe</button>
</div>

