<div fxFill fxLayout="column" fxLayoutAlign="center start">
  <button mat-button color="primary" (click)="mapOperator()">Map Operator</button>
  <button mat-button color="primary" (click)="filterOperator()">Filter Operator</button>
  <button mat-button color="primary" (click)="tapOperator()">Tap Operator</button>
  <button mat-button color="primary" (click)="takeOperator()">Take Operator</button>
  <button mat-button color="primary" (click)="firstOperator()">First Operator</button>
  <button mat-button color="primary" (click)="lastOperator()">Last Operator</button>
  <button mat-button color="primary" (click)="debounceTimeOperator()">Debounce Time Operator</button>
</div>

<div matRipple class="debounce-area" matRippleCentered="true"
  matRippleColor="rgb(240, 166, 166, 0.7)" matRippleRadius="40">
</div>
